<div class="container">
    <div class="row">
        <% @articles.each do |article| %>
            <div class="col-lg-3 box">
                <h3 class="category-link"><%= link_to article.category.name, article.category, class: 'category' %></h3>
                <h3 class="content"><%= article.text %></h3>
                <%= image_tag article.image.url, height: "230", width: "293" %>

                <%= link_to vote_article_path(article), method: :put do %>
                    Vote 
                    <%= article.get_upvotes.size %> | 
                <% end %>
                <%= link_to unvote_article_path(article), method: :put do %>
                    Unvote
                    <%= article.get_downvotes.size %>
                <% end %>
            </div>
        <% end %>
    </div>
</div>
