<div class="container-fluid">
    <div class="row article-container">
        <div class="col-lg-6 side-image">
            <%= image_tag @article.image.url, width: '103%', height: '368px' %>
        </div>
        <div class="col-lg-6 text-box">
            <h3 class="show-title"><%= @article.title %></h3>
            <h3 class="art-author written-by">written by: <%= @article.user.name %></h3>
            <h3 class="show-content"><%= @article.text %></h3>
            
            <div class="vote-button">
                <%= vote_unvote(@article) %> <%= "#{@article.votes.count}" %>
            </div>
            
        </div>
    </div>
    <br>
    <%= link_to 'Back', root_url %>
</div>
