<div class="container-fluid">
    <h3 class="count-info">There are <%= "#{ @category.articles.count } #{ "article".pluralize(@category.articles.count) }" %> in <%= "#{ @category.name }" %> category</h3>
    <div class="article-container d-flex flex-row-reverse">
        <% @articles.each do |article| %>
            <div class="art-test ">
                <div class="col-lg-6 category-box">
                    <h3 class="cate-name"><%= @category.name %></h3>
                    <h3 class="cate-title"><%= link_to article.title, article, class: 'title-color' %></h3>
                    <h3 class="art-author">written by <%= "#{ article.user.name }" %></h3>
                    <h3 class="art-text"><%= article.text %></h3>
                </div>
                <div class="col-lg-6 side-image">
                    <%= image_tag article.image.url, width: '105%', height: '260px' %>
                </div>
            </div>
        <% end %>
    </div>
</div>
